#logo-title {
    font-size: 16px;
    color: #dddddd;
    line-height: 14px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 2px;

	vertical-align: bottom;
}

#logo-subtitle {
    font-size: 18px;
    padding-left: 2px;
    line-height: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #858585;

    padding-top: 0px;
    vertical-align: bottom;
}


#logo-subtitle-tag {
    font-size: 8px;
    padding-left: 2px;
    line-height: 14px;
    font-weight: bold;
    text-decoration: none;
    color: skyblue;

    padding-top: 0px;
    vertical-align: bottom;
}

#results {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#results td, #results th {
    border: 1px solid #ddd;
    padding: 8px;
}

#results tr:nth-child(even){background-color: #f2f2f2;}

#results tr:hover {background-color: #ddd;}

#results th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #0077b3;
    color: white;
}
